.root {
  margin: 10%;
}

.paper {
  padding: 20%;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  outline: solid 0.2px;
  box-shadow: 5px 10px 8px #9a9a9a;
  background-color: #eaeaea;
  border-radius: 10px;
}

.file-input {
  width: 97%;
  margin: 10px 0;
}
.button-submit {
  margin-bottom: 10px;
}

.input-field {
  margin: 10px;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.paper {
  width: 400px;
}
