.card {
  width: inherit;
  height: 500px;
  border-radius: 10%;
  outline: 0.5px;
}

.post-image {
  width: 100%;
  max-height: 80%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  position: relative;
}

.post-title {
  margin-top: 2%;
}

.left-margin {
  margin-left: 2%;
  line-height: 0.8;
  width: 100%;
}

.pos-fixed {
  position: absolute;
  margin-left: 2%;
  bottom: 22%;
}

.message-tags {
  position: relative;
  margin-left: 2%;
  margin-top: 1%;
}

.btn {
  margin: 0 2% 0 2%;
}
