#appBar {
  border-radius: 15px;
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: white;
}

/* .heading {
  color: rgba(0, 183, 255, 1);
  text-decoration: none;
} */

.logo {
  margin-left: 15px;
  width: 100%;
  height: 60px;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  width: 400px;
}
.profile {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.userName {
  display: flex;
  align-items: center;
  color: rgba(0, 183, 255, 1);
}

.brandContainer {
  display: flex;
  align-items: center;
}

.buttonSignIn:hover {
  color: white;
}
